<footer class="main-footer">
   
    <div class="text-center font-italic">       
        <i class="fas fa-info-circle"></i>
        All your data is safely computed on your machine and never sent over the Internet.
       
        <span class="float-right d-none d-sm-inline-block">
            <strong><a target="_blank" href="https://getdevgear.com/suggestions-feedback-in-app/"  style="color: #869099">Suggestions/Feedback</a></strong>         

        </span>
    </div>
</footer>

