@inherits LayoutComponentBase


<div class="wrapper">

    @*<TopNav />*@

    <NavMenu/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                @Body
            </div>

        </section>
    </div>

    <Footer/>

    <!-- Control Sidebar -->
    @*<aside class="control-sidebar control-sidebar-dark">*@
    <!-- Control sidebar content goes here -->
    @*</aside>*@
</div>

@code {



}